// ? CSS reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

// ? Font

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font: "Inter", sans-serif;
$color-white: whitesmoke;
$color-black: #060606;

$breakpoint-tablet: 768px;
$breakpoint-bigScreen: 1000px;
$breakpoint-mobile: 600px;

html {
  font-size: 16px;

  @media (max-width: $breakpoint-bigScreen) {
    font-size: 80%;
  }

  @media (max-width: $breakpoint-tablet) {
    font-size: 60%;
  }
}

body {
  background-image: url(./img/fall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  color: $color-black;
  font-family: $font;
  font-weight: 300;
  font-size: 4rem;

  .main {
    display: flex;
    justify-content: space-between;
    height: 55vh;
    width: 92vw;
    margin: 8vh 5vw 0 3vw;

    @media (max-width: $breakpoint-mobile) {
      margin: 17vh 0vw 0 0vw;
      height: 30vh;
      width: 95vw;
    }

    //! First section

    .weather-info {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.7px;
      margin-left: 20px;

      .weather-info-description {
        font-size: 2.4rem;
        margin-bottom: 1.2vh;
        font-weight: 600;
      }

      .weather-location {
        margin-bottom: 1.2vh;
        font-size: 1.25rem;
        font-weight: 600;
      }

      .weather-date {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.5vh;
      }

      .weather-time {
        margin-bottom: 2vh;
        font-weight: 600;
      }

      .temperatureAndIcon {
        display: flex;
        gap: 3vw;

        .weather-temperature {
          font-size: 4.375rem;
          font-weight: 500;
          letter-spacing: -2px;
          font-weight: 600;
        }

        .weather-icon {
          display: flex;
          color: inherit;
          min-width: 110px;
          max-width: 100px;
          min-height: 100px;
          max-height: 80px;
          transform: translateY(-2.5vh);

          @media (max-width: $breakpoint-bigScreen) {
            min-width: 80px;
          }
        }
      }

      .weather-change {
        button {
          background-color: transparent;
          color: inherit;
          padding: 10px 35px;
          margin: 2vh 0 2vh 0;
          border: 2px solid $color-white;
          border-radius: 8px;
          cursor: pointer;

          &:active {
            transform: translateY(1px);
          }
        }
      }
    }

    //! Section of middle

    .search-area {
      letter-spacing: 2px;
      display: flex;
      flex-direction: column;
      left: 40vw;
      position: absolute;
      width: 300px;
      transition: ease-in-out 1s;
      transform: translateX(2.5vw);

      @media (max-width: $breakpoint-mobile) {
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translate(-50%, 0);
        height: 10px;
      }

      p {
        text-align: center;
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: 8px;
      }

      @media (max-width: $breakpoint-bigScreen) {
        width: 200px;
      }

      .weather-search-box {
        input {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #060606;
          color: #060606;
          margin-top: 2vh;
          padding: 10px 5px;
          letter-spacing: inherit;
          font-size: 1.125rem;
          width: 300px;
          letter-spacing: 1px;

          @media (max-width: $breakpoint-bigScreen) {
            width: 200px;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .weather-search-box-error {
        margin: 4vh 0 0 0;
        font-size: 0.875rem;
        font-weight: 600;
        width: 700px;
        transform: translateX(-7vw);
        visibility: hidden;
        transition: ease-in-out 1s;

        @media (max-width: $breakpoint-mobile) {
          margin: 1vh 0 0 0;
          width: 260px;
          transform: translateX(0vw);
        }

        @media (max-width: $breakpoint-bigScreen) {
          margin: 3vh 0 0 0;
          width: 320px;
          transform: translateX(-2vw);
        }
      }
    }

    //! Second section

    .weather-details-container {
      width: 150px;
      height: auto;
      font-size: 1rem;

      @media (max-width: $breakpoint-bigScreen) {
        width: 100px;
      }

      .weather-details {
        margin-bottom: calc(3.5vh + 9px);
        display: flex;

        .weather-details-icon {
          min-width: 35px;
          height: auto;
          margin-right: 8px;

          @media (max-width: $breakpoint-bigScreen) {
            min-width: 20px;
          }
        }

        .weather-details-info {
          .weather-details-data {
            font-size: 1.875rem;
            font-weight: 600;
            margin-top: 0.3vh;
            margin-left: 5px;
          }
        }
      }
    }
  }

  #bottom-side-forecast {
    margin-top: 5vh;

    p {
      margin: 0 0 2vh 4.5vw;
      color: $color-white;
      font-size: 1.125rem;
      font-weight: 600;
      letter-spacing: 2px;

      @media (max-width: $breakpoint-mobile) {
        width: 100vw;
        margin: auto;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 2px;
      }
    }

    .daily-forecast {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      color: $color-white;
      width: 96vw;
      height: 20vh;
      margin: 3vh 2vw 0 2vw;
      font-size: 1.2rem;

      @media (max-width: $breakpoint-mobile) {
        flex-direction: column;
        height: 40vh;
        align-items: center;
      }

      .foracat-day-by-day {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 20h;

        @media (max-width: $breakpoint-mobile) {
          flex-direction: row;
          width: 70%;
          justify-content: space-between;
        }

        .forecast-daily-day-name {
          @media (max-width: $breakpoint-mobile) {
            margin-right: auto;
          }
        }

        .forecast_daily_temperature {
          font-size: 1.9375rem;
          font-weight: 800;
          margin-top: 20px;
          
          @media (max-width: $breakpoint-mobile) {
            width: 55px;
            margin-right: 5.5rem;
            margin-top: -4px;
          }

          .forecast-daily-temperature-low {
            font-size: 1.125rem;
            margin-top: 0.5vh;
            font-weight: 600;
          }

          @media (max-width: $breakpoint-mobile) {
            font-size: 1.8rem;
          }
        }

        .forecast-daily-icon {
          max-width: 40px;
          margin-top: 20px;
          @media (max-width: $breakpoint-mobile) {
            width: 25px;
            margin-top: 0;
          }
        }
      }
    }
  }
}

footer {
  font-size: 1rem;
  color: rgb(228, 228, 228);
  letter-spacing: 2px;
  position: relative;
  height: 5vh;

  @media (max-width: $breakpoint-mobile) {
    height: 6vh;
  }
  a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);

    @media (max-width: $breakpoint-mobile) {
      top: 90%;
    }
  }
}
